{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            <canvas id="myChart"></canvas>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

        <script>
            //setup block
            const data = {
                labels: {{timestamp}},
                datasets: [{
                    label: 'Temperature Chart °C',
                    data: {{temperature}},
                    borderWidth: 1
                }]
            };
            //config block
            const config = {
                type: 'line',
                data,
                options: {
                    scales: {
                        x: {
                            type: 'time'
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };

            //render block
            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>
    </body>
</html>